In [43]:
import warnings
warnings.filterwarnings("ignore")

In [44]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [45]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [46]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [47]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [48]:
d = pd.read_csv("PREV1.csv")

In [49]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_marcas', 'ano', 'engine_capacity', 'id_insurance', 'id_transmissao',
       'kms_driven', 'id_owner_type', 'id_fuel_type', 'max_power', 'seats',
       'mileage', 'id_body_type', 'id_city', 'resale_price_Lakh'],
      dtype='object')

In [50]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [51]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [52]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       id_marcas     ano  engine_capacity  id_insurance  id_transmissao  \
0       1.230837  2019.0           1199.0      0.256633        0.131359
1       0.976238  2018.0           1199.0      1.306401        0.131359
2       0.976238  2015.0           1497.0      0.256633        0.131359
3       1.230837  2021.0           1956.0      0.256633        0.583102
4       0.541440  2019.0           1197.0      1.306401        0.583102
...          ...     ...              ...           ...             ...
13414   1.745897  2021.0           2199.0      0.256633        0.583102
13415   0.677665  2017.0           1197.0      0.256633        0.131359
13416   1.693345  2017.0           1498.0      0.445408        0.131359
13417   0.541440  2017.0           1248.0      0.445408        0.131359
13418   0.976238  2015.0           1198.0      0.445408        0.131359

       kms_driven  id_owner_type  id_fuel_type  max_power  seats  mileage  \
0         30910.0       0.150465      0.180334       83.8    5.0    23.84
1         48089.0       1.365236      0.180334       88.7    5.0    17.50
2         51000.0       0.620328      0.180334      117.3    5.0    17.40
3         30000.0       0.150465      0.514919      167.6    7.0    14.08
4         61113.0       0.150465      0.180334       83.1    5.0    21.40
...           ...            ...           ...        ...    ...      ...
13414     80000.0       0.620328      0.514919      197.2    7.0    14.11
13415     17923.0       0.150465      0.180334       81.8    5.0    18.60
13416     63389.0       0.620328      0.514919      108.6    5.0    21.13
13417     40000.0       0.620328      0.514919       88.5    5.0    24.30
13418     33046.0       0.150465      0.180334       86.7    5.0    18.00

       id_body_type   id_city
0          0.364112  1.096102
1          0.598869  1.281577
2          0.578053  0.922710
3          0.598869  0.922710
4          0.364112  1.170307
...             ...       ...
13414      1.347597  1.027199
13415      0.364112  1.223199
13416      0.578053  1.027199
13417      0.598869  0.868320
13418      0.578053  0.868320

[13419 rows x 13 columns]
Data type by column:
id_marcas          float64
ano                float64
engine_capacity    float64
id_insurance       float64
id_transmissao     float64
kms_driven         float64
id_owner_type      float64
id_fuel_type       float64
max_power          float64
seats              float64
mileage            float64
id_body_type       float64
id_city            float64
dtype: object

In [53]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("testcenario1.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [54]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      id_marcas     ano  engine_capacity  insurance  transmission_type  \
0      0.677665  2017.0      1197.000000   0.445408           0.131359
1      0.541440  2020.0      1197.000000   1.418644           0.583102
2      0.541440  2010.0       998.000000   0.256633           0.131359
3      0.541440  2010.0       796.000000   0.256633           0.131359
4      0.677665  2018.0      1197.000000   0.445408           0.131359
...         ...     ...              ...        ...                ...
3485   1.230837  2022.0      1399.651986   0.256633           0.583102
3486   1.419493  2017.0       999.000000   0.256633           0.131359
3487   0.976238  2017.0      1497.000000   0.445408           0.131359
3488   0.976238  2016.0      1199.000000   0.445408           0.131359
3489   0.541440  2017.0      1197.000000   0.445408           0.131359

      kms_driven  owner_type  fuel_type  max_power  seats  mileage  body_type  \
0        53658.0    0.150465   0.180334       81.8    5.0    18.90   0.364112
1        33055.0    0.620328   0.180334       81.8    5.0    21.21   0.364112
2        90385.0    1.365236   0.180334       67.1    5.0    18.20   0.364112
3       110000.0    0.150465   0.180334       46.3    5.0    19.70   0.364112
4        58000.0    0.620328   0.180334       81.8    5.0    17.19   0.364112
...          ...         ...        ...        ...    ...      ...        ...
3485     30000.0    0.150465   2.455816       73.7    5.0     0.00   0.578053
3486     64024.0    0.150465   0.180334       67.0    5.0    23.01   0.364112
3487     39000.0    0.150465   0.180334      117.3    5.0    17.80   0.578053
3488     33000.0    0.150465   0.180334       88.7    5.0    18.70   0.364112
3489     14097.0    0.620328   0.180334       88.5    5.0    22.38   0.364112

          city
0     0.922710
1     1.281577
2     1.593888
3     0.767700
4     0.767700
...        ...
3485  1.096102
3486  0.868320
3487  0.767700
3488  0.922710
3489  0.767700

[3490 rows x 13 columns]
Data type by column:
id_marcas            float64
ano                  float64
engine_capacity      float64
insurance            float64
transmission_type    float64
kms_driven           float64
owner_type           float64
fuel_type            float64
max_power            float64
seats                float64
mileage              float64
body_type            float64
city                 float64
dtype: object

In [55]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_marcas          0
ano                0
engine_capacity    0
id_insurance       0
id_transmissao     0
kms_driven         0
id_owner_type      0
id_fuel_type       0
max_power          0
seats              0
mileage            0
id_body_type       0
id_city            0
dtype: int64

In [56]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_marcas            0
ano                  0
engine_capacity      0
insurance            0
transmission_type    0
kms_driven           0
owner_type           0
fuel_type            0
max_power            0
seats                0
mileage              0
body_type            0
city                 0
dtype: int64

In [57]:
# Mapeando os nomes das colunas de d_test para os correspondentes em d
mapeamento_colunas = {
    'insurance': 'id_insurance',
    'transmission_type': 'id_transmissao',
    'owner_type': 'id_owner_type',
    'fuel_type': 'id_fuel_type',
    'body_type': 'id_body_type',
    'city': 'id_city',
    
}

# Renomeando as colunas em d_test
df_test.rename(columns=mapeamento_colunas, inplace=True)

In [58]:
# Check data types
print(y.dtypes)

float64

In [59]:
# Check data types
print(X.dtypes)

id_marcas          float64
ano                float64
engine_capacity    float64
id_insurance       float64
id_transmissao     float64
kms_driven         float64
id_owner_type      float64
id_fuel_type       float64
max_power          float64
seats              float64
mileage            float64
id_body_type       float64
id_city            float64
dtype: object

In [60]:
# Check data types
print(df_test.dtypes)

id_marcas          float64
ano                float64
engine_capacity    float64
id_insurance       float64
id_transmissao     float64
kms_driven         float64
id_owner_type      float64
id_fuel_type       float64
max_power          float64
seats              float64
mileage            float64
id_body_type       float64
id_city            float64
dtype: object

In [61]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

# Supondo que X, y sejam seus dados de treino e df_test seja seus dados de teste

# Inicializa um modelo SVR
svr = SVR()

# Treina o modelo SVR
svr.fit(X, y)

# Faz previsões no conjunto de testes
predictions = svr.predict(df_test)

# Se tiver rótulos verdadeiros (y_test, por exemplo), você pode calcular a métrica de erro, como o erro médio quadrático (MSE)
# mse = mean_squared_error(y_test, predictions)

In [62]:

print(len(predictions))  # Check the length of predictions

3490

In [63]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": predictions})

In [64]:
print(df_predictions)

        ID  prediction
0        0    5.403121
1        1    6.543171
2        2    4.270268
3        3    3.802558
4        4    5.242612
...    ...         ...
3485  3485    6.949318
3486  3486    4.867215
3487  3487    6.417791
3488  3488    6.549638
3489  3489    8.196647

[3490 rows x 2 columns]

In [65]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('BayesCenario1.csv', index=False)