In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import re

In [2]:
df = pd.read_csv('train.csv')

In [4]:
import pandas as pd

# Assuming df is your DataFrame

df.loc[df['full_name'].isin(['2009 Maruti Estilo LXI', '2019 Nissan Kicks Diesel', '2010 Maruti Estilo LXI', '2019 Maruti Wagon R ZXI AMT 1.2BSIV',
                             '2016 Mercedes-Benz B Class B180 Sport', '2016 Mercedes-Benz A Class A200 D Sport Edition',
                             '2004 Tata Indigo Marina GLX', '2017 Volvo V40 D3 R Design']), 'body_type'] = 'Hatchback'
df.loc[df['full_name'].isin(['2005 Tata Sumo Victa EX 10/7 Str BSII', '2008 Tata Sumo CX', '2010 Tata New Safari DICOR 2.2 EX 4x2', 
                             '2017 Mahindra KUV 100 mFALCON G80 K8', '2019 Mahindra Bolero Camper GOLD ZX 2WD']), 'body_type'] = 'SUV'
df.loc[df['full_name'].isin(['2015 Honda Mobilio E i-DTEC', '2018 Maruti Eeco 5 Seater AC BSIV', '2016 Datsun GO Plus A']), 'body_type'] = 'MUV'
df.loc[df['full_name'].isin(['2021 BMW 7 Series 730Ld DPE Signature','2006 Hyundai Accent CRDi', '2007 Maruti SX4 Vxi BSIII',
                             '2020 Mercedes-Benz S-Class Maybach S560', '2004 Skoda Octavia 1.8 Turbo Petrol RS MT']), 'body_type'] = 'Sedan'
df.loc[df['full_name'].isin(['2012 Mercedes-Benz SLK-Class SLK 350', '2013 Mercedes-Benz E-Class E350 Cabriolet', 
                             '2009 Mercedes-Benz SLK-Class 55 AMG']), 'body_type'] = 'Convertibles'
df.loc[df['full_name'] == '2011 Jaguar XK R V8 Coupe', 'body_type'] = 'Coupe'
df.loc[df['full_name'].isin(['2015 Chevrolet Enjoy 1.4 LS 7', '2004 Maruti Versa DX2 8-SEATER BSIII TWIN A/C', '2021 Maruti Eeco 5 STR With AC Plus HTR CNG',
                             '2022 Maruti Eeco 5 Seater AC 2020-2022', '2022 Maruti Eeco 5 Seater AC BSVI', '2017 Maruti Eeco Flexi Green', 
                             '2013 Maruti Omni Limited Edition', '2021 Maruti Eeco CNG 5 Seater AC', '2019 Maruti Eeco CNG 5 Seater AC BSIV', 
                             '2019 Maruti Eeco 5 Seater AC', '2013 Maruti Eeco 5 Seater Standard BSIV', '2015 Maruti Omni CNG', 
                             '2015 Maruti Omni MPI CARGO BSIV', '2016 Maruti Eeco CNG 5 Seater AC BSIV', '2013 Toyota Innova 2.5 E Diesel MS 7-seater',
                             '2015 Chevrolet Enjoy 1.4 LS 7']), 'body_type'] = 'Minivans'
df.loc[df['full_name'].isin(['2014 Tata Xenon XT EX 4X2', '2019 Isuzu D-Max High']), 'body_type'] = 'Pickup'

# Check
distinct_full_names_with_blank_body_type = df[df['body_type'].isnull()]['full_name'].unique()
print('Distinct full names with blank body_type:')
for full_name in distinct_full_names_with_blank_body_type:
    print(full_name)

Distinct full names with blank body_type:

In [5]:
# Change the data types of multiple columns
df = df.astype({
    
    'body_type': 'string',
    
})

In [6]:
# Check data types
data_types = df.dtypes
print("Data type by column:")
print(data_types)

Data type by column:
full_name                    object
registered_year              object
engine_capacity              object
insurance                    object
transmission_type            object
kms_driven                   object
owner_type                   object
fuel_type                    object
max_power                   float64
seats                       float64
mileage                      object
body_type            string[python]
city                         object
resale_price_Lakh           float64
dtype: object

In [7]:

# Exibe os tipos únicos e suas contagens na coluna 'body_type'
contagem_body_types = df['body_type'].value_counts()

# Exibe o resultado
print(contagem_body_types)

body_type
Hatchback       5896
Sedan           3824
SUV             3529
MUV              605
Minivans          69
Coupe             11
Pickup            11
Convertibles       5
Cars               4
Wagon              2
Name: count, dtype: Int64

In [9]:
# unique 'body_type'
valores_unicos_kms_group= df['body_type'].unique()
print(valores_unicos_kms_group)

<StringArray>
[   'Hatchback',          'SUV',        'Sedan',          'MUV',
     'Minivans', 'Convertibles',        'Coupe',       'Pickup',
        'Wagon',         'Cars']
Length: 10, dtype: string

In [10]:
# Check ID_body_type

# Sua coluna de tipos de combustível
body_type = df['body_type']

# Número de documentos (ou entradas) no DataFrame
n_docs = len(df)

idf = {}

# Usando drop_duplicates para obter valores únicos
unique_body_type = body_type.drop_duplicates()

for body_type in unique_body_type:
    k = sum(body_type in row for row in df['body_type'])  # contagem de documentos que contêm este tipo de combustível
    idf[body_type] = np.log10(n_docs / (k + 1))  # Adicionei +1 para evitar divisão por zero

for body_type, value in idf.items():
    print(f'{body_type:>15}: {value:>10}')

      Hatchback: 0.37412983299826663
            SUV: 0.5969862553882507
          Sedan: 0.5621295212864368
            MUV: 1.362288336609787
       Minivans: 2.299662920761816
   Convertibles: 3.3666097103924297
          Coupe: 3.0655797147284485
         Pickup: 3.0655797147284485
          Wagon: 3.667639706056411
           Cars: 3.4457909564400544

In [11]:
#Create kms_group ID: IDF

# Sua coluna de tipos de combustível
body_type = df['body_type']

# Número de documentos (ou entradas) no DataFrame
n_docs = len(df)

idf = {}

# Usando drop_duplicates para obter valores únicos
unique_body_type = body_type.drop_duplicates()

for body_type in unique_body_type:
    k = sum(body_type in row for row in df['body_type'])  # contagem de documentos que contêm este tipo de combustível
    idf[body_type] = np.log10(n_docs / (k + 1))  # Adicionei +1 para evitar divisão por zero

for body_type, value in idf.items():
    print(f'{body_type:>15}: {value:>10}')

# Criar nova coluna 'idf' no DataFrame
df['id_body_type'] = df['body_type'].map(idf)

# Se desejar imprimir o DataFrame com a nova coluna
print(df)

      Hatchback: 0.37412983299826663
            SUV: 0.5969862553882507
          Sedan: 0.5621295212864368
            MUV: 1.362288336609787
       Minivans: 2.299662920761816
   Convertibles: 3.3666097103924297
          Coupe: 3.0655797147284485
         Pickup: 3.0655797147284485
          Wagon: 3.667639706056411
           Cars: 3.4457909564400544
                                               full_name registered_year  \
0                                2019 Tata Tiago XZ Plus        Nov 2019
1                              2018 Honda WR-V i-VTEC VX        Apr 2018
2                              2015 Honda City i VTEC SV        May 2015
3      2021 Tata New Safari XZA Plus Adventure Editio...            2021
4                        2019 Maruti Baleno 1.2 CVT Zeta        Jun 2019
...                                                  ...             ...
13951                          2021 Kia Carnival Premium            2021
13952               2017 Hyundai i20 1.2 Magna Executive        Dec 2017
13953             2017 Skoda Rapid 1.5 TDI Ambition BSIV        Jan 2018
13954                      2017 Maruti Vitara Brezza ZDi        Apr 2017
13955                         2015 Honda Amaze S i-Vtech        Mar 2015

      engine_capacity              insurance transmission_type  kms_driven  \
0             1199 cc            Third Party            Manual  30,910 Kms
1             1199 cc               Zero Dep            Manual  48,089 Kms
2             1497 cc  Third Party insurance            Manual  51,000 Kms
3             1956 cc  Third Party insurance         Automatic  30,000 Kms
4             1197 cc               Zero Dep         Automatic  61,113 Kms
...               ...                    ...               ...         ...
13951         2199 cc  Third Party insurance         Automatic  80,000 Kms
13952         1197 cc  Third Party insurance            Manual  17,923 Kms
13953         1498 cc          Comprehensive            Manual  63,389 Kms
13954         1248 cc          Comprehensive            Manual  40,000 Kms
13955         1198 cc          Comprehensive            Manual  33,046 Kms

         owner_type fuel_type  max_power  seats     mileage  body_type  \
0       First Owner    Petrol       83.8    5.0  23.84 kmpl  Hatchback
1       Third Owner    Petrol       88.7    5.0   17.5 kmpl        SUV
2      Second Owner    Petrol      117.3    5.0   17.4 kmpl      Sedan
3       First Owner    Diesel      167.6    7.0  14.08 kmpl        SUV
4       First Owner    Petrol       83.1    5.0   21.4 kmpl  Hatchback
...             ...       ...        ...    ...         ...        ...
13951  Second Owner    Diesel      197.2    7.0  14.11 kmpl        MUV
13952   First Owner    Petrol       81.8    5.0   18.6 kmpl  Hatchback
13953  Second Owner    Diesel      108.6    5.0  21.13 kmpl      Sedan
13954  Second Owner    Diesel       88.5    5.0   24.3 kmpl        SUV
13955   First Owner    Petrol       86.7    5.0     18 kmpl      Sedan

            city  resale_price_Lakh  id_body_type
0           Pune               5.66      0.374130
1         Jaipur               6.64      0.596986
2         Mumbai               5.65      0.562130
3         Mumbai              23.00      0.596986
4        Kolkata               6.87      0.374130
...          ...                ...           ...
13951  Hyderabad              26.50      1.362288
13952    Gurgaon               5.87      0.374130
13953  Hyderabad               7.43      0.562130
13954  Bangalore               9.45      0.596986
13955  Bangalore               4.55      0.562130

[13956 rows x 15 columns]