In [22]:
import warnings
warnings.filterwarnings("ignore")

In [23]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [24]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [25]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [26]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [27]:
d = pd.read_csv("Xcenario2Rafa.csv")

In [28]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_body_type', 'id_categoria_marca', 'ano', 'id_city', 'id_insurance',
       'id_transmissao', 'seats', 'mileage', 'id_engine_capacity_group',
       'id_fuel_type', 'id_kms_group', 'id_max_power_group', 'id_owner_type',
       'resale_price_Lakh'],
      dtype='object')

In [29]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [30]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [31]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       id_body_type  id_categoria_marca     ano   id_city  id_insurance  \
0          0.362899            0.073937  2019.0  1.092493      0.254939
1          0.600301            0.073937  2018.0  1.281261      1.310394
2          0.578388            0.073937  2015.0  0.925351      0.254939
3          0.600301            0.073937  2021.0  0.925351      0.254939
4          0.362899            0.073937  2019.0  1.171912      1.310394
...             ...                 ...     ...       ...           ...
13544      1.349435            0.899928  2021.0  1.026738      0.254939
13545      0.362899            0.073937  2017.0  1.222886      0.254939
13546      0.578388            0.899928  2017.0  1.026738      0.447960
13547      0.600301            0.073937  2017.0  0.869456      0.447960
13548      0.578388            0.073937  2015.0  0.869456      0.447960

       id_transmissao  seats  mileage  id_engine_capacity_group  id_fuel_type  \
0            0.130520    5.0    23.84                  0.126083      0.180375
1            0.130520    5.0    17.50                  0.126083      0.180375
2            0.130520    5.0    17.40                  0.126083      0.180375
3            0.585488    7.0    14.08                  0.126083      0.515432
4            0.585488    5.0    21.40                  0.126083      0.180375
...               ...    ...      ...                       ...           ...
13544        0.585488    7.0    14.11                  1.106601      0.515432
13545        0.130520    5.0    18.60                  0.126083      0.180375
13546        0.130520    5.0    21.13                  0.126083      0.515432
13547        0.130520    5.0    24.30                  0.126083      0.515432
13548        0.130520    5.0    18.00                  0.126083      0.180375

       id_kms_group  id_max_power_group  id_owner_type
0          0.000706            0.146167       0.151222
1          0.000706            0.146167       1.354480
2          0.000706            0.576088       0.620425
3          0.000706            0.576088       0.151222
4          0.000706            0.146167       0.151222
...             ...                 ...            ...
13544      0.000706            0.576088       0.620425
13545      0.000706            0.146167       0.151222
13546      0.000706            0.146167       0.620425
13547      0.000706            0.146167       0.620425
13548      0.000706            0.146167       0.151222

[13549 rows x 13 columns]
Data type by column:
id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
id_transmissao              float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [32]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("testcenario2Rafa.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [33]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      body_type  id_categoria_marca     ano      city  insurance  \
0      0.362899            0.073937  2017.0  0.925351   0.447960
1      0.362899            0.073937  2020.0  1.281261   1.414237
2      0.362899            0.073937  2010.0  1.592831   0.254939
3      0.362899            0.073937  2010.0  0.769613   0.254939
4      0.362899            0.073937  2018.0  0.769613   0.447960
...         ...                 ...     ...       ...        ...
3485   0.578388            0.073937  2022.0  1.092493   0.254939
3486   0.362899            0.073937  2017.0  0.869456   0.254939
3487   0.578388            0.073937  2017.0  0.769613   0.447960
3488   0.362899            0.073937  2016.0  0.925351   0.447960
3489   0.362899            0.073937  2017.0  0.769613   0.447960

      transmission_type  seats  mileage  id_engine_capacity_group  fuel_type  \
0              0.130520    5.0    18.90                  0.126083   0.180375
1              0.585488    5.0    21.21                  0.126083   0.180375
2              0.130520    5.0    18.20                  0.769991   0.180375
3              0.130520    5.0    19.70                  0.769991   0.180375
4              0.130520    5.0    17.19                  0.126083   0.180375
...                 ...    ...      ...                       ...        ...
3485           0.585488    5.0     0.00                  4.131907   2.450666
3486           0.130520    5.0    23.01                  0.769991   0.180375
3487           0.130520    5.0    17.80                  0.126083   0.180375
3488           0.130520    5.0    18.70                  0.126083   0.180375
3489           0.130520    5.0    22.38                  0.126083   0.180375

      id_kms_group  id_max_power_group  owner_type
0         0.000706            0.146167    0.151222
1         0.000706            0.146167    0.620425
2         0.000706            0.146167    1.354480
3         0.000706            0.146167    0.151222
4         0.000706            0.146167    0.620425
...            ...                 ...         ...
3485      0.000706            0.146167    0.151222
3486      0.000706            0.146167    0.151222
3487      0.000706            0.576088    0.151222
3488      0.000706            0.146167    0.151222
3489      0.000706            0.146167    0.620425

[3490 rows x 13 columns]
Data type by column:
body_type                   float64
id_categoria_marca          float64
ano                         float64
city                        float64
insurance                   float64
transmission_type           float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
fuel_type                   float64
id_kms_group                float64
id_max_power_group          float64
owner_type                  float64
dtype: object

In [34]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_body_type                0
id_categoria_marca          0
ano                         0
id_city                     0
id_insurance                0
id_transmissao              0
seats                       0
mileage                     0
id_engine_capacity_group    0
id_fuel_type                0
id_kms_group                0
id_max_power_group          0
id_owner_type               0
dtype: int64

In [35]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

body_type                   0
id_categoria_marca          0
ano                         0
city                        0
insurance                   0
transmission_type           0
seats                       0
mileage                     0
id_engine_capacity_group    0
fuel_type                   0
id_kms_group                0
id_max_power_group          0
owner_type                  0
dtype: int64

In [36]:
# Mapeando os nomes das colunas de d_test para os correspondentes em d
mapeamento_colunas = {
    'body_type': 'id_body_type',
    'city': 'id_city',
    'insurance': 'id_insurance',
    'fuel_type': 'id_fuel_type',
    'owner_type': 'id_owner_type',
    'transmission_type': 'id_transmissao',
    }

# Renomeando as colunas em d_test
df_test.rename(columns=mapeamento_colunas, inplace=True)

In [37]:
# Check data types
print(y.dtypes)

float64

In [38]:
# Check data types
print(X.dtypes)

id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
id_transmissao              float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [39]:
# Check data types
print(df_test.dtypes)

id_body_type                float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
id_transmissao              float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [40]:
#from sklearn import tree
#clf = tree.DecisionTreeRegressor()
#clf = clf.fit(X, y)
#predictions=clf.predict(df_test)

In [41]:
#from sklearn.neural_network import MLPRegressor

 
#clf= MLPRegressor(random_state=1, max_iter=500)

#clf=clf.fit(X, y)
#predictions=clf.predict(df_test)

In [42]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor

#Dividir os dados em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir o modelo inicial
clf = DecisionTreeRegressor(max_depth=7)

# Ajustar o modelo inicial nos dados de treinamento
clf.fit(X_train, y_train)

# Prever com o modelo inicial
predictions = clf.predict(df_test)

# Definir o grid de hiperparâmetros
param_grid = {
    'max_depth': [5, 7, 10],
   'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Realizar a busca dos melhores hiperparâmetros
grid_search = GridSearchCV(DecisionTreeRegressor(), param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# Obter os melhores parâmetros e o melhor estimador
best_params = grid_search.best_params_
best_estimator = grid_search.best_estimator_

# Usar o melhor estimador para fazer previsões nos dados de teste
best_predictions = best_estimator.predict(df_test)

In [43]:

print(len(best_predictions))  # Check the length of predictions

3490

In [44]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": best_predictions})

In [45]:
print(df_predictions)

        ID  prediction
0        0    5.903750
1        1    6.414615
2        2    1.174091
3        3    1.706957
4        4    4.981188
...    ...         ...
3485  3485   10.383333
3486  3486    2.995000
3487  3487    7.915977
3488  3488    4.871435
3489  3489    4.981188

[3490 rows x 2 columns]

In [46]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('treeCenario2Rafa.csv', index=False)