In [61]:
import warnings
warnings.filterwarnings("ignore")

In [62]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [63]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [64]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [65]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [66]:
d = pd.read_csv("Xcenario2.csv")

In [67]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_body_type', 'id_modelos', 'id_categoria_marca', 'ano', 'id_city',
       'id_insurance', 'id_transmissao', 'seats', 'mileage',
       'id_engine_capacity_group', 'id_fuel_type', 'id_kms_group',
       'id_max_power_group', 'id_owner_type', 'resale_price_Lakh'],
      dtype='object')

In [68]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [69]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [70]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       id_body_type  id_modelos  id_categoria_marca     ano   id_city  \
0          0.364112    3.086522            0.073531  2019.0  1.096102
1          0.598869    2.403638            0.073531  2018.0  1.281577
2          0.578053    2.583846            0.073531  2015.0  0.922710
3          0.598869    3.650793            0.073531  2021.0  0.922710
4          0.364112    2.747703            0.073531  2019.0  1.170307
...             ...         ...                 ...     ...       ...
13420      1.347597    3.650793            0.903640  2021.0  1.027199
13421      0.364112    2.951823            0.073531  2017.0  1.223199
13422      0.578053    3.282816            0.903640  2017.0  1.027199
13423      0.598869    2.747703            0.073531  2017.0  0.868320
13424      0.578053    2.428944            0.073531  2015.0  0.868320

       id_insurance  id_transmissao  seats  mileage  id_engine_capacity_group  \
0          0.256633        0.131359    5.0    23.84                  0.126137
1          1.306401        0.131359    5.0    17.50                  0.126137
2          0.256633        0.131359    5.0    17.40                  0.126137
3          0.256633        0.583102    7.0    14.08                  0.126137
4          1.306401        0.583102    5.0    21.40                  0.126137
...             ...             ...    ...      ...                       ...
13420      0.256633        0.583102    7.0    14.11                  1.105074
13421      0.256633        0.131359    5.0    18.60                  0.126137
13422      0.445408        0.131359    5.0    21.13                  0.126137
13423      0.445408        0.131359    5.0    24.30                  0.126137
13424      0.445408        0.131359    5.0    18.00                  0.126137

       id_fuel_type  id_kms_group  id_max_power_group  id_owner_type
0          0.180334      0.364786            0.206644       0.150465
1          0.180334      0.364786            0.206644       1.365236
2          0.180334      0.255059            0.446040       0.620328
3          0.514919      0.364786            0.446040       0.150465
4          0.180334      0.255059            0.206644       0.150465
...             ...           ...                 ...            ...
13420      0.514919      0.255059            0.446040       0.620328
13421      0.180334      0.364786            0.206644       0.150465
13422      0.514919      0.255059            0.446040       0.620328
13423      0.514919      0.364786            0.206644       0.620328
13424      0.180334      0.364786            0.206644       0.150465

[13425 rows x 14 columns]
Data type by column:
id_body_type                float64
id_modelos                  float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
id_transmissao              float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [71]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("testcenario2.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [72]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      body_type  id_modelos  id_categoria_marca     ano      city  insurance  \
0      0.364112    2.872642            0.073531  2017.0  0.922710   0.445408
1      0.364112    3.224824            0.073531  2020.0  1.281577   1.418644
2      0.364112    3.428944            0.073531  2010.0  1.593888   0.256633
3      0.364112    2.420344            0.073531  2010.0  0.767700   0.256633
4      0.364112    3.826884            0.073531  2018.0  0.767700   0.445408
...         ...         ...                 ...     ...       ...        ...
3485   0.578053    3.428944            0.073531  2022.0  1.096102   0.256633
3486   0.364112    2.650793            0.073531  2017.0  0.868320   0.256633
3487   0.578053    2.729974            0.073531  2017.0  0.767700   0.445408
3488   0.364112    2.872642            0.073531  2016.0  0.922710   0.445408
3489   0.364112    1.840113            0.073531  2017.0  0.767700   0.445408

      transmission_type  seats  mileage  id_engine_capacity_group  fuel_type  \
0              0.131359    5.0    18.90                  0.126137   0.180334
1              0.583102    5.0    21.21                  0.126137   0.180334
2              0.131359    5.0    18.20                  0.776698   0.180334
3              0.131359    5.0    19.70                  0.776698   0.180334
4              0.131359    5.0    17.19                  0.126137   0.180334
...                 ...    ...      ...                       ...        ...
3485           0.583102    5.0     0.00                  4.127914   2.455816
3486           0.131359    5.0    23.01                  0.776698   0.180334
3487           0.131359    5.0    17.80                  0.126137   0.180334
3488           0.131359    5.0    18.70                  0.126137   0.180334
3489           0.131359    5.0    22.38                  0.126137   0.180334

      id_kms_group  id_max_power_group  owner_type
0         0.255059            0.206644    0.150465
1         0.364786            0.206644    0.620328
2         0.255059            0.206644    1.365236
3         0.255059            0.206644    0.150465
4         0.255059            0.206644    0.620328
...            ...                 ...         ...
3485      0.364786            0.206644    0.150465
3486      0.255059            0.206644    0.150465
3487      0.364786            0.446040    0.150465
3488      0.364786            0.206644    0.150465
3489      0.364786            0.206644    0.620328

[3490 rows x 14 columns]
Data type by column:
body_type                   float64
id_modelos                  float64
id_categoria_marca          float64
ano                         float64
city                        float64
insurance                   float64
transmission_type           float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
fuel_type                   float64
id_kms_group                float64
id_max_power_group          float64
owner_type                  float64
dtype: object

In [73]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_body_type                0
id_modelos                  0
id_categoria_marca          0
ano                         0
id_city                     0
id_insurance                0
id_transmissao              0
seats                       0
mileage                     0
id_engine_capacity_group    0
id_fuel_type                0
id_kms_group                0
id_max_power_group          0
id_owner_type               0
dtype: int64

In [74]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

body_type                   0
id_modelos                  0
id_categoria_marca          0
ano                         0
city                        0
insurance                   0
transmission_type           0
seats                       0
mileage                     0
id_engine_capacity_group    0
fuel_type                   0
id_kms_group                0
id_max_power_group          0
owner_type                  0
dtype: int64

In [75]:
# Mapeando os nomes das colunas de d_test para os correspondentes em d
mapeamento_colunas = {
    'body_type': 'id_body_type',
    'city': 'id_city',
    'insurance': 'id_insurance',
    'fuel_type': 'id_fuel_type',
    'owner_type': 'id_owner_type',
    'transmission_type': 'id_transmissao',
}

# Renomeando as colunas em d_test
df_test.rename(columns=mapeamento_colunas, inplace=True)

In [76]:
# Check data types
print(y.dtypes)

float64

In [77]:
# Check data types
print(X.dtypes)

id_body_type                float64
id_modelos                  float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
id_transmissao              float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [78]:
# Check data types
print(df_test.dtypes)

id_body_type                float64
id_modelos                  float64
id_categoria_marca          float64
ano                         float64
id_city                     float64
id_insurance                float64
id_transmissao              float64
seats                       float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [79]:
#from sklearn import tree
#clf = tree.DecisionTreeRegressor(max_depth=7)
#clf = clf.fit(X, y)
#predictions=clf.predict(df_test)

In [80]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor

# Dividir os dados em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir o modelo inicial
clf = DecisionTreeRegressor(max_depth=7)

# Ajustar o modelo inicial nos dados de treinamento
clf.fit(X_train, y_train)

# Prever com o modelo inicial
predictions = clf.predict(df_test)

# Definir o grid de hiperparâmetros
param_grid = {
    'max_depth': [5, 7, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Realizar a busca dos melhores hiperparâmetros
grid_search = GridSearchCV(DecisionTreeRegressor(), param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# Obter os melhores parâmetros e o melhor estimador
best_params = grid_search.best_params_
best_estimator = grid_search.best_estimator_

# Usar o melhor estimador para fazer previsões nos dados de teste
best_predictions = best_estimator.predict(df_test)

In [81]:

print(len(best_predictions))  # Check the length of predictions

3490

In [82]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": best_predictions})

In [83]:
print(df_predictions)

        ID  prediction
0        0    5.244146
1        1    6.686386
2        2    1.721755
3        3    1.596094
4        4    5.637963
...    ...         ...
3485  3485   10.423333
3486  3486    3.183548
3487  3487    7.159577
3488  3488    5.244146
3489  3489    5.244146

[3490 rows x 2 columns]

In [84]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('treeCenario2Max_Dep.csv', index=False)