In [567]:
import warnings
warnings.filterwarnings("ignore")

In [568]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [569]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [570]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [571]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [572]:
d = pd.read_csv("LMSV5cenario2.csv")

In [573]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_body_type', 'id_marca', 'ano', 'id_city', 'id_insurance', 'seats',
       'id_transmissao', 'mileage', 'id_engine_capacity_group', 'id_fuel_type',
       'id_kms_group', 'id_max_power_group', 'id_owner_type',
       'resale_price_Lakh'],
      dtype='object')

In [574]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [575]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [576]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

     id_body_type  id_marca     ano   id_city  id_insurance  seats  \
0        0.950026  0.880390  2007.0  1.232573      0.068716    8.0
1        0.639656  0.820392  2008.0  0.780275      0.068716    5.0
2        0.211383  0.820392  2010.0  0.849356      0.068716    5.0
3        0.211383  1.107634  2009.0  0.668301      0.068716    5.0
4        1.232573  1.834633  2021.0  0.849356      0.806604    5.0
..            ...       ...     ...       ...           ...    ...
200      1.232573  1.135663  2008.0  0.668301      0.068716    8.0
201      0.211383  0.820392  2006.0  0.668301      0.806604    5.0
202      0.211383  1.408664  2014.0  0.849356      0.068716    5.0
203      0.211383  1.107634  2009.0  1.533603      0.068716    5.0
204      0.950026  0.880390  2015.0  1.232573      0.068716    8.0

     id_transmissao  mileage  id_engine_capacity_group  id_fuel_type  \
0          0.089037    12.80                  0.780275      0.436693
1          0.089037    17.80                  1.010724      0.204544
2          0.089037    16.80                  0.168739      0.436693
3          0.089037    17.80                  0.168739      0.436693
4          0.709694    18.60                  0.168739      0.436693
..              ...      ...                       ...           ...
200        0.089037    14.40                  0.780275      0.436693
201        0.089037    16.80                  0.168739      0.436693
202        0.709694    16.55                  0.168739      0.436693
203        0.089037    13.80                  0.168739      0.204544
204        0.089037    12.80                  0.780275      0.436693

     id_kms_group  id_max_power_group  id_owner_type
0        0.454421            2.311754       0.408664
1        0.454421            2.311754       0.408664
2        0.307432            2.311754       0.414127
3        0.454421            2.311754       1.408664
4        1.107634            2.311754       0.414127
..            ...                 ...            ...
200      0.454421            2.311754       0.414127
201      0.454421            2.311754       0.408664
202      0.307432            2.311754       0.408664
203      0.307432            2.311754       0.414127
204      0.454421            2.311754       0.408664

[205 rows x 13 columns]
Data type by column:
id_body_type                float64
id_marca                    float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
id_transmissao              float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [577]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("LMSV5testcenario2.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [578]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      body_type  id_marca     ano      city  insurance  seats  \
0      0.639656  0.820392  2017.0  0.780275   0.806604    5.0
1      0.639656  0.698970  2020.0  1.232573   0.068716    5.0
2      0.639656  0.698970  2010.0  1.533603   0.068716    5.0
3      0.639656  0.698970  2010.0  1.056481   0.068716    5.0
4      0.639656  0.820392  2018.0  1.056481   0.806604    5.0
...         ...       ...     ...       ...        ...    ...
3485   0.211383  1.135663  2022.0  0.913814   0.068716    5.0
3486   0.639656  3.010724  2017.0  0.668301   0.068716    5.0
3487   0.211383  0.849356  2017.0  1.056481   0.806604    5.0
3488   0.639656  0.849356  2016.0  0.780275   0.806604    5.0
3489   0.639656  0.698970  2017.0  1.056481   0.806604    5.0

      transmission_type  mileage  id_engine_capacity_group  fuel_type  \
0              0.089037    18.90                  1.010724   0.204544
1              0.709694    21.21                  1.010724   0.204544
2              0.089037    18.20                  1.834633   0.204544
3              0.089037    19.70                  1.834633   0.204544
4              0.089037    17.19                  1.010724   0.204544
...                 ...      ...                       ...        ...
3485           0.709694     0.00                  2.834633   1.712784
3486           0.089037    23.01                  1.834633   0.204544
3487           0.089037    17.80                  0.168739   0.204544
3488           0.089037    18.70                  1.010724   0.204544
3489           0.089037    22.38                  1.010724   0.204544

      id_kms_group  id_max_power_group  owner_type
0         0.307432            3.311754    0.414127
1         1.107634            3.311754    0.408664
2         0.307432            3.311754    0.834633
3         0.454421            3.311754    0.414127
4         0.307432            3.311754    0.408664
...            ...                 ...         ...
3485      1.107634            3.311754    0.414127
3486      0.307432            3.311754    0.414127
3487      1.107634            3.311754    0.414127
3488      1.107634            3.311754    0.414127
3489      1.709694            3.311754    0.408664

[3490 rows x 13 columns]
Data type by column:
body_type                   float64
id_marca                    float64
ano                         float64
city                        float64
insurance                   float64
seats                       float64
transmission_type           float64
mileage                     float64
id_engine_capacity_group    float64
fuel_type                   float64
id_kms_group                float64
id_max_power_group          float64
owner_type                  float64
dtype: object

In [579]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_body_type                0
id_marca                    0
ano                         0
id_city                     0
id_insurance                0
seats                       0
id_transmissao              0
mileage                     0
id_engine_capacity_group    0
id_fuel_type                0
id_kms_group                0
id_max_power_group          0
id_owner_type               0
dtype: int64

In [580]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

body_type                   0
id_marca                    0
ano                         0
city                        0
insurance                   0
seats                       0
transmission_type           0
mileage                     0
id_engine_capacity_group    0
fuel_type                   0
id_kms_group                9
id_max_power_group          0
owner_type                  0
dtype: int64

In [581]:
print(X.dtypes)

id_body_type                float64
id_marca                    float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
id_transmissao              float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [582]:
# Mapeando os nomes das colunas de d_test para os correspondentes em d
mapeamento_colunas = {
    'body_type': 'id_body_type',
    'city': 'id_city',
    'insurance': 'id_insurance',
    'fuel_type': 'id_fuel_type',
    'owner_type': 'id_owner_type',
    'transmission_type': 'id_transmissao',
    
}

# Certifique-se de que as colunas existem em df_test antes de renomear
for coluna_original in mapeamento_colunas.values():
    if coluna_original not in df_test.columns:
        print(f"A coluna '{coluna_original}' não existe em df_test.")

# Renomeando as colunas em df_test
df_test.rename(columns=mapeamento_colunas, inplace=True)

A coluna 'id_body_type' não existe em df_test.
A coluna 'id_city' não existe em df_test.
A coluna 'id_insurance' não existe em df_test.
A coluna 'id_fuel_type' não existe em df_test.
A coluna 'id_owner_type' não existe em df_test.
A coluna 'id_transmissao' não existe em df_test.

In [583]:
# Check data types
print(y.dtypes)

float64

In [584]:
# Check data types
print(X.dtypes)

id_body_type                float64
id_marca                    float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
id_transmissao              float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [585]:
# Check data types
print(df_test.dtypes)

id_body_type                float64
id_marca                    float64
ano                         float64
id_city                     float64
id_insurance                float64
seats                       float64
id_transmissao              float64
mileage                     float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [586]:
from sklearn import tree
clf = tree.DecisionTreeRegressor(max_depth=3, random_state=1234)
clf = clf.fit(X, y)
predictions=clf.predict(df_test)

In [587]:

print(len(predictions))  # Check the length of predictions

3490

In [588]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": predictions})

In [589]:
print(df_predictions)

        ID  prediction
0        0    1.703835
1        1    3.000000
2        2    1.703835
3        3    1.703835
4        4    1.703835
...    ...         ...
3485  3485   90.000000
3486  3486    1.703835
3487  3487    1.703835
3488  3488    1.703835
3489  3489    1.703835

[3490 rows x 2 columns]

In [590]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('LMS V5 treeCenario2.csv', index=False)