In [207]:
import warnings
warnings.filterwarnings("ignore")

In [208]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [209]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [210]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [211]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [212]:
METRICS = {
        "accuracy": make_scorer(accuracy_score),
        "precision": make_scorer(precision_score),
        "recall": make_scorer(recall_score),
        "f1": make_scorer(f1_score),
        "AUC": make_scorer(roc_auc_score, needs_proba=True),
        "specificity": make_scorer(specificity_score),
        "kappa":make_scorer(cohen_kappa_score)
}

In [213]:
d = pd.read_csv("PREV1.csv")
d

,full_name,registered_year,engine_capacity,insurance,transmission_type,kms_driven,owner_type,fuel_type,max_power,seats,mileage,body_type,city,resale_price_Lakh
0,3.086522,2019.0,1199.0,0.256633,0.131359,30910.0,0.150465,0.180334,83.8,5.0,23.84,0.364112,1.096102,5.66
1,2.403638,2018.0,1199.0,1.306401,0.131359,48089.0,1.365236,0.180334,88.7,5.0,17.50,0.598869,1.281577,6.64
2,2.583846,2015.0,1497.0,0.256633,0.131359,51000.0,0.620328,0.180334,117.3,5.0,17.40,0.578053,0.922710,5.65
3,3.650793,2021.0,1956.0,0.256633,0.583102,30000.0,0.150465,0.514919,167.6,7.0,14.08,0.598869,0.922710,23.00
4,2.747703,2019.0,1197.0,1.306401,0.583102,61113.0,0.150465,0.180334,83.1,5.0,21.40,0.364112,1.170307,6.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13420,3.650793,2021.0,2199.0,0.256633,0.583102,80000.0,0.620328,0.514919,197.2,7.0,14.11,1.347597,1.027199,26.50
13421,2.951823,2017.0,1197.0,0.256633,0.131359,17923.0,0.150465,0.180334,81.8,5.0,18.60,0.364112,1.223199,5.87
13422,3.282816,2017.0,1498.0,0.445408,0.131359,63389.0,0.620328,0.514919,108.6,5.0,21.13,0.578053,1.027199,7.43
13423,2.747703,2017.0,1248.0,0.445408,0.131359,40000.0,0.620328,0.514919,88.5,5.0,24.30,0.598869,0.868320,9.45
13424,2.428944,2015.0,1198.0,0.445408,0.131359,33046.0,0.150465,0.180334,86.7,5.0,18.00,0.578053,0.868320,4.55

In [214]:
d.dropna(axis=0, inplace=True)
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [215]:
#Classificação
splitter = StratifiedKFold(n_splits=10, shuffle=True, random_state=1234)

# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)
print(X)

       full_name  registered_year  engine_capacity  insurance  \
0       3.086522           2019.0           1199.0   0.256633
1       2.403638           2018.0           1199.0   1.306401
2       2.583846           2015.0           1497.0   0.256633
3       3.650793           2021.0           1956.0   0.256633
4       2.747703           2019.0           1197.0   1.306401
...          ...              ...              ...        ...
13420   3.650793           2021.0           2199.0   0.256633
13421   2.951823           2017.0           1197.0   0.256633
13422   3.282816           2017.0           1498.0   0.445408
13423   2.747703           2017.0           1248.0   0.445408
13424   2.428944           2015.0           1198.0   0.445408

       transmission_type  kms_driven  owner_type  fuel_type  max_power  seats  \
0               0.131359     30910.0    0.150465   0.180334       83.8    5.0
1               0.131359     48089.0    1.365236   0.180334       88.7    5.0
2               0.131359     51000.0    0.620328   0.180334      117.3    5.0
3               0.583102     30000.0    0.150465   0.514919      167.6    7.0
4               0.583102     61113.0    0.150465   0.180334       83.1    5.0
...                  ...         ...         ...        ...        ...    ...
13420           0.583102     80000.0    0.620328   0.514919      197.2    7.0
13421           0.131359     17923.0    0.150465   0.180334       81.8    5.0
13422           0.131359     63389.0    0.620328   0.514919      108.6    5.0
13423           0.131359     40000.0    0.620328   0.514919       88.5    5.0
13424           0.131359     33046.0    0.150465   0.180334       86.7    5.0

       mileage  body_type      city
0        23.84   0.364112  1.096102
1        17.50   0.598869  1.281577
2        17.40   0.578053  0.922710
3        14.08   0.598869  0.922710
4        21.40   0.364112  1.170307
...        ...        ...       ...
13420    14.11   1.347597  1.027199
13421    18.60   0.364112  1.223199
13422    21.13   0.578053  1.027199
13423    24.30   0.598869  0.868320
13424    18.00   0.578053  0.868320

[13419 rows x 13 columns]

In [216]:
import pandas as pd
from sklearn.model_selection import cross_validate
from sklearn.impute import SimpleImputer
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import HistGradientBoostingRegressor


# Criar um imputador
imputer = SimpleImputer(strategy='mean')  # Você pode escolher 'mean', 'median', 'most_frequent', ou outra estratégia

# Aplicar a imputação aos dados de entrada X
X_imputed = imputer.fit_transform(X)

# Criar uma Rede Neural para regressão
nn_regressor = MLPRegressor(hidden_layer_sizes=(50, 50), max_iter=20, random_state=1234)

# Realizar a validação cruzada e avaliar as métricas para MLPRegressor
scores_nn = cross_validate(nn_regressor, X_imputed, y, cv=kf, scoring=REGRESSION_METRICS)
nn_scores = pd.DataFrame(scores_nn)
print("MLPRegressor Scores:")
print(pd.DataFrame(nn_scores.mean()))

# Ou usar o HistGradientBoostingRegressor que lida nativamente com valores ausentes
hgbr = HistGradientBoostingRegressor(random_state=1234)

# Realizar a validação cruzada e avaliar as métricas para HistGradientBoostingRegressor
scores_hgbr = cross_validate(hgbr, X, y, cv=kf, scoring=REGRESSION_METRICS)
hgbr_scores = pd.DataFrame(scores_hgbr)
print("\nHistGradientBoostingRegressor Scores:")
print(pd.DataFrame(hgbr_scores.mean()))

MLPRegressor Scores:
                     0
fit_time      1.624436
score_time    0.002885
test_MSE    277.654615
test_MAE     10.884440
test_R2      -2.468369

HistGradientBoostingRegressor Scores:
                   0
fit_time    0.481078
score_time  0.009042
test_MSE    8.768225
test_MAE    1.161988
test_R2     0.902667

In [217]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       full_name  registered_year  engine_capacity  insurance  \
0       3.086522           2019.0           1199.0   0.256633
1       2.403638           2018.0           1199.0   1.306401
2       2.583846           2015.0           1497.0   0.256633
3       3.650793           2021.0           1956.0   0.256633
4       2.747703           2019.0           1197.0   1.306401
...          ...              ...              ...        ...
13420   3.650793           2021.0           2199.0   0.256633
13421   2.951823           2017.0           1197.0   0.256633
13422   3.282816           2017.0           1498.0   0.445408
13423   2.747703           2017.0           1248.0   0.445408
13424   2.428944           2015.0           1198.0   0.445408

       transmission_type  kms_driven  owner_type  fuel_type  max_power  seats  \
0               0.131359     30910.0    0.150465   0.180334       83.8    5.0
1               0.131359     48089.0    1.365236   0.180334       88.7    5.0
2               0.131359     51000.0    0.620328   0.180334      117.3    5.0
3               0.583102     30000.0    0.150465   0.514919      167.6    7.0
4               0.583102     61113.0    0.150465   0.180334       83.1    5.0
...                  ...         ...         ...        ...        ...    ...
13420           0.583102     80000.0    0.620328   0.514919      197.2    7.0
13421           0.131359     17923.0    0.150465   0.180334       81.8    5.0
13422           0.131359     63389.0    0.620328   0.514919      108.6    5.0
13423           0.131359     40000.0    0.620328   0.514919       88.5    5.0
13424           0.131359     33046.0    0.150465   0.180334       86.7    5.0

       mileage  body_type      city
0        23.84   0.364112  1.096102
1        17.50   0.598869  1.281577
2        17.40   0.578053  0.922710
3        14.08   0.598869  0.922710
4        21.40   0.364112  1.170307
...        ...        ...       ...
13420    14.11   1.347597  1.027199
13421    18.60   0.364112  1.223199
13422    21.13   0.578053  1.027199
13423    24.30   0.598869  0.868320
13424    18.00   0.578053  0.868320

[13419 rows x 13 columns]
Data type by column:
full_name            float64
registered_year      float64
engine_capacity      float64
insurance            float64
transmission_type    float64
kms_driven           float64
owner_type           float64
fuel_type            float64
max_power            float64
seats                float64
mileage              float64
body_type            float64
city                 float64
dtype: object

In [218]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv('test.csv') 
id_column = df_test['ID']  # Supondo que 'Id' seja o nome da coluna que você deseja adicionar


# Adicionando a coluna 'ID' ao DataFrame 'X'
X['ID'] = id_column

print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       full_name  registered_year  engine_capacity  insurance  \
0       3.086522           2019.0           1199.0   0.256633
1       2.403638           2018.0           1199.0   1.306401
2       2.583846           2015.0           1497.0   0.256633
3       3.650793           2021.0           1956.0   0.256633
4       2.747703           2019.0           1197.0   1.306401
...          ...              ...              ...        ...
13420   3.650793           2021.0           2199.0   0.256633
13421   2.951823           2017.0           1197.0   0.256633
13422   3.282816           2017.0           1498.0   0.445408
13423   2.747703           2017.0           1248.0   0.445408
13424   2.428944           2015.0           1198.0   0.445408

       transmission_type  kms_driven  owner_type  fuel_type  max_power  seats  \
0               0.131359     30910.0    0.150465   0.180334       83.8    5.0
1               0.131359     48089.0    1.365236   0.180334       88.7    5.0
2               0.131359     51000.0    0.620328   0.180334      117.3    5.0
3               0.583102     30000.0    0.150465   0.514919      167.6    7.0
4               0.583102     61113.0    0.150465   0.180334       83.1    5.0
...                  ...         ...         ...        ...        ...    ...
13420           0.583102     80000.0    0.620328   0.514919      197.2    7.0
13421           0.131359     17923.0    0.150465   0.180334       81.8    5.0
13422           0.131359     63389.0    0.620328   0.514919      108.6    5.0
13423           0.131359     40000.0    0.620328   0.514919       88.5    5.0
13424           0.131359     33046.0    0.150465   0.180334       86.7    5.0

       mileage  body_type      city   ID
0        23.84   0.364112  1.096102  0.0
1        17.50   0.598869  1.281577  1.0
2        17.40   0.578053  0.922710  2.0
3        14.08   0.598869  0.922710  3.0
4        21.40   0.364112  1.170307  4.0
...        ...        ...       ...  ...
13420    14.11   1.347597  1.027199  NaN
13421    18.60   0.364112  1.223199  NaN
13422    21.13   0.578053  1.027199  NaN
13423    24.30   0.598869  0.868320  NaN
13424    18.00   0.578053  0.868320  NaN

[13419 rows x 14 columns]
Data type by column:
full_name            float64
registered_year      float64
engine_capacity      float64
insurance            float64
transmission_type    float64
kms_driven           float64
owner_type           float64
fuel_type            float64
max_power            float64
seats                float64
mileage              float64
body_type            float64
city                 float64
ID                   float64
dtype: object

In [219]:

df_test=X
print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

       full_name  registered_year  engine_capacity  insurance  \
0       3.086522           2019.0           1199.0   0.256633
1       2.403638           2018.0           1199.0   1.306401
2       2.583846           2015.0           1497.0   0.256633
3       3.650793           2021.0           1956.0   0.256633
4       2.747703           2019.0           1197.0   1.306401
...          ...              ...              ...        ...
13420   3.650793           2021.0           2199.0   0.256633
13421   2.951823           2017.0           1197.0   0.256633
13422   3.282816           2017.0           1498.0   0.445408
13423   2.747703           2017.0           1248.0   0.445408
13424   2.428944           2015.0           1198.0   0.445408

       transmission_type  kms_driven  owner_type  fuel_type  max_power  seats  \
0               0.131359     30910.0    0.150465   0.180334       83.8    5.0
1               0.131359     48089.0    1.365236   0.180334       88.7    5.0
2               0.131359     51000.0    0.620328   0.180334      117.3    5.0
3               0.583102     30000.0    0.150465   0.514919      167.6    7.0
4               0.583102     61113.0    0.150465   0.180334       83.1    5.0
...                  ...         ...         ...        ...        ...    ...
13420           0.583102     80000.0    0.620328   0.514919      197.2    7.0
13421           0.131359     17923.0    0.150465   0.180334       81.8    5.0
13422           0.131359     63389.0    0.620328   0.514919      108.6    5.0
13423           0.131359     40000.0    0.620328   0.514919       88.5    5.0
13424           0.131359     33046.0    0.150465   0.180334       86.7    5.0

       mileage  body_type      city   ID
0        23.84   0.364112  1.096102  0.0
1        17.50   0.598869  1.281577  1.0
2        17.40   0.578053  0.922710  2.0
3        14.08   0.598869  0.922710  3.0
4        21.40   0.364112  1.170307  4.0
...        ...        ...       ...  ...
13420    14.11   1.347597  1.027199  NaN
13421    18.60   0.364112  1.223199  NaN
13422    21.13   0.578053  1.027199  NaN
13423    24.30   0.598869  0.868320  NaN
13424    18.00   0.578053  0.868320  NaN

[13419 rows x 14 columns]
Data type by column:
full_name            float64
registered_year      float64
engine_capacity      float64
insurance            float64
transmission_type    float64
kms_driven           float64
owner_type           float64
fuel_type            float64
max_power            float64
seats                float64
mileage              float64
body_type            float64
city                 float64
ID                   float64
dtype: object

In [220]:
import pandas as pd

# Supondo que 'X' seja um DataFrame e 'y' seja uma Series ou array numpy
combined_data = pd.concat([X, pd.Series(y, name='target_column')], axis=1)
combined_data.dropna(inplace=True)
# Separar o DataFrame combinado de volta para X e y
y = combined_data['target_column']
X = combined_data.drop(columns=['target_column'])

In [221]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
df_test.dropna(inplace=True)
nan_count = df_test.isna().sum()


# Exibir a contagem de NaN por coluna
print(nan_count)

full_name            0
registered_year      0
engine_capacity      0
insurance            0
transmission_type    0
kms_driven           0
owner_type           0
fuel_type            0
max_power            0
seats                0
mileage              0
body_type            0
city                 0
ID                   0
dtype: int64

In [222]:
from sklearn.neural_network import MLPRegressor

regr = MLPRegressor(random_state=1, max_iter=500)
regr = regr.fit(X, y)
predicted_values = regr.predict(df_test)





# Adicionar a coluna 'prediction' ao DataFrame 'pa' com os valores previstos
df_test['prediction'] = predicted_values

In [227]:

print(df_test)  # Check the length of predictions

      full_name  registered_year  engine_capacity  insurance  \
0      3.086522           2019.0           1199.0   0.256633
1      2.403638           2018.0           1199.0   1.306401
2      2.583846           2015.0           1497.0   0.256633
3      3.650793           2021.0           1956.0   0.256633
4      2.747703           2019.0           1197.0   1.306401
...         ...              ...              ...        ...
3485   2.494446           2018.0           1197.0   0.256633
3486   2.548131           2017.0           1199.0   0.256633
3487   2.805695           2022.0           1197.0   0.256633
3488   2.826884           2016.0           1995.0   0.445408
3489   3.349763           2019.0           1197.0   0.445408

      transmission_type  kms_driven  owner_type  fuel_type  max_power  seats  \
0              0.131359     30910.0    0.150465   0.180334       83.8    5.0
1              0.131359     48089.0    1.365236   0.180334       88.7    5.0
2              0.131359     51000.0    0.620328   0.180334      117.3    5.0
3              0.583102     30000.0    0.150465   0.514919      167.6    7.0
4              0.583102     61113.0    0.150465   0.180334       83.1    5.0
...                 ...         ...         ...        ...        ...    ...
3485           0.131359     27334.0    0.150465   0.180334       81.8    5.0
3486           0.131359     99555.0    0.150465   0.180334       84.0    5.0
3487           0.583102     10000.0    0.150465   0.180334       81.8    5.0
3488           0.583102     60001.0    0.150465   0.514919      190.0    5.0
3489           0.583102     55289.0    0.150465   0.180334      103.2    5.0

      mileage  body_type      city      ID  prediction
0       23.84   0.364112  1.096102     0.0    9.226053
1       17.50   0.598869  1.281577     1.0    9.305888
2       17.40   0.578053  0.922710     2.0   13.928909
3       14.08   0.598869  0.922710     3.0   24.029767
4       21.40   0.364112  1.170307     4.0   10.087074
...       ...        ...       ...     ...         ...
3485    18.90   0.364112  1.111717  3485.0    9.375799
3486    23.84   0.364112  1.111717  3486.0   16.486252
3487    20.70   0.364112  1.281577  3487.0   17.582570
3488    22.69   0.578053  1.130528  3488.0   25.892531
3489    18.19   0.578053  0.868320  3489.0   14.811894

[3486 rows x 15 columns]

In [234]:
import pandas as pd

# Criar um DataFrame com os IDs e as previsões
data = {'ID': df_test['ID'], 'Predictions': predicted_values}
df_predictions = pd.DataFrame(data)

# Exibir o novo DataFrame com as colunas de IDs e previsões
print(df_predictions)
nan_count = df_predictions.isna().sum()


# Exibir a contagem de NaN por coluna
print(nan_count)

          ID  Predictions
0        0.0     9.226053
1        1.0     9.305888
2        2.0    13.928909
3        3.0    24.029767
4        4.0    10.087074
...      ...          ...
3485  3485.0     9.375799
3486  3486.0    16.486252
3487  3487.0    17.582570
3488  3488.0    25.892531
3489  3489.0    14.811894

[3486 rows x 2 columns]
ID             0
Predictions    0
dtype: int64

In [233]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('predictions2Cenario1.csv', index=False)