In [25]:
import warnings
warnings.filterwarnings("ignore")

In [26]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [27]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [28]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [29]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [30]:
d = pd.read_csv("TudoGrupos.csv")

In [31]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_body_type', 'id_categoria_marca', 'id_categoria_decadas', 'id_city',
       'id_insurance', 'id_tipo_carro', 'id_mileage_group',
       'id_engine_capacity_group', 'id_fuel_type', 'id_kms_group',
       'id_max_power_group', 'id_owner_type', 'resale_price_Lakh'],
      dtype='object')

In [32]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [33]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [34]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       id_body_type  id_categoria_marca  id_categoria_decadas   id_city  \
0          0.356174            0.071142              0.112823  1.090848
1          0.622679            0.071142              0.112823  1.279384
2          0.568583            0.071142              0.112823  0.927202
3          0.622679            0.071142              0.724804  0.927202
4          0.356174            0.071142              0.112823  1.173973
...             ...                 ...                   ...       ...
13086      1.350560            0.919417              0.724804  1.024603
13087      0.356174            0.071142              0.112823  1.221550
13088      0.568583            0.919417              0.112823  1.024603
13089      0.622679            0.071142              0.112823  0.864362
13090      0.568583            0.071142              0.112823  0.864362

       id_insurance  id_tipo_carro  id_mileage_group  \
0          0.255737       4.116973          0.008712
1          1.303392       4.116973          0.008712
2          0.255737       4.116973          0.008712
3          0.255737       4.116973          0.008712
4          1.303392       4.116973          0.008712
...             ...            ...               ...
13086      0.255737       4.116973          0.008712
13087      0.255737       4.116973          0.008712
13088      0.447470       4.116973          0.008712
13089      0.447470       4.116973          0.008712
13090      0.447470       4.116973          0.008712

       id_engine_capacity_group  id_fuel_type  id_kms_group  \
0                      0.125127      0.176755      0.373855
1                      0.125127      0.176755      0.373855
2                      0.125127      0.176755      0.248270
3                      0.125127      0.516218      0.373855
4                      0.125127      0.176755      0.248270
...                         ...           ...           ...
13086                  1.119150      0.516218      0.248270
13087                  0.125127      0.176755      0.373855
13088                  0.125127      0.516218      0.248270
13089                  0.125127      0.516218      0.373855
13090                  0.125127      0.176755      0.373855

       id_max_power_group  id_owner_type
0                0.199520       0.153610
1                0.199520       1.357305
2                0.457437       0.613046
3                0.457437       0.153610
4                0.199520       0.153610
...                   ...            ...
13086            0.457437       0.613046
13087            0.199520       0.153610
13088            0.457437       0.613046
13089            0.199520       0.613046
13090            0.199520       0.153610

[13091 rows x 12 columns]
Data type by column:
id_body_type                float64
id_categoria_marca          float64
id_categoria_decadas        float64
id_city                     float64
id_insurance                float64
id_tipo_carro               float64
id_mileage_group            float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [35]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("testTudoGrupos.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [36]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      body_type  id_categoria_marca  id_categoria_decadas      city  \
0      0.356174            0.071142              0.112823  0.927202
1      0.356174            0.071142              0.724804  1.279384
2      0.356174            0.071142              0.112823  1.599777
3      0.356174            0.071142              0.112823  0.773367
4      0.356174            0.071142              0.112823  0.773367
...         ...                 ...                   ...       ...
3485   0.568583            0.071142              0.724804  1.090848
3486   0.356174            0.071142              0.112823  0.864362
3487   0.568583            0.071142              0.112823  0.773367
3488   0.356174            0.071142              0.112823  0.927202
3489   0.356174            0.071142              0.112823  0.773367

      insurance  id_tipo_carro  id_mileage_group  id_engine_capacity_group  \
0      0.447470       4.116973          0.008712                  0.125127
1      1.416269       4.116973          0.008712                  0.125127
2      0.255737       4.116973          0.008712                  0.767307
3      0.255737       4.116973          0.008712                  0.767307
4      0.447470       4.116973          0.008712                  0.125127
...         ...            ...               ...                       ...
3485   0.255737       4.116973          4.271875                  4.116973
3486   0.255737       4.116973          0.008712                  0.767307
3487   0.447470       4.116973          0.008712                  0.125127
3488   0.447470       4.116973          0.008712                  0.125127
3489   0.447470       4.116973          0.008712                  0.125127

      fuel_type  id_kms_group  id_max_power_group  owner_type
0      0.176755      0.248270            0.199520    0.153610
1      0.176755      0.373855            0.199520    0.613046
2      0.176755      0.248270            0.199520    1.357305
3      0.176755      0.248270            0.199520    0.153610
4      0.176755      0.248270            0.199520    0.613046
...         ...           ...                 ...         ...
3485   3.271875      0.373855            0.199520    0.153610
3486   0.176755      0.248270            0.199520    0.153610
3487   0.176755      0.373855            0.457437    0.153610
3488   0.176755      0.373855            0.199520    0.153610
3489   0.176755      0.373855            0.199520    0.613046

[3490 rows x 12 columns]
Data type by column:
body_type                   float64
id_categoria_marca          float64
id_categoria_decadas        float64
city                        float64
insurance                   float64
id_tipo_carro               float64
id_mileage_group            float64
id_engine_capacity_group    float64
fuel_type                   float64
id_kms_group                float64
id_max_power_group          float64
owner_type                  float64
dtype: object

In [37]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_body_type                0
id_categoria_marca          0
id_categoria_decadas        0
id_city                     0
id_insurance                0
id_tipo_carro               0
id_mileage_group            0
id_engine_capacity_group    0
id_fuel_type                0
id_kms_group                0
id_max_power_group          0
id_owner_type               0
dtype: int64

In [38]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

body_type                   0
id_categoria_marca          0
id_categoria_decadas        0
city                        0
insurance                   0
id_tipo_carro               0
id_mileage_group            0
id_engine_capacity_group    0
fuel_type                   0
id_kms_group                0
id_max_power_group          0
owner_type                  0
dtype: int64

In [39]:
# Mapeando os nomes das colunas de d_test para os correspondentes em d
mapeamento_colunas = {
    'body_type': 'id_body_type',
    'city': 'id_city',
    'insurance': 'id_insurance',
    'fuel_type': 'id_fuel_type',
    'owner_type': 'id_owner_type',
    
}

# Renomeando as colunas em d_test
df_test.rename(columns=mapeamento_colunas, inplace=True)

In [40]:
# Check data types
print(y.dtypes)

float64

In [41]:
# Check data types
print(X.dtypes)

id_body_type                float64
id_categoria_marca          float64
id_categoria_decadas        float64
id_city                     float64
id_insurance                float64
id_tipo_carro               float64
id_mileage_group            float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [42]:
# Check data types
print(df_test.dtypes)

id_body_type                float64
id_categoria_marca          float64
id_categoria_decadas        float64
id_city                     float64
id_insurance                float64
id_tipo_carro               float64
id_mileage_group            float64
id_engine_capacity_group    float64
id_fuel_type                float64
id_kms_group                float64
id_max_power_group          float64
id_owner_type               float64
dtype: object

In [43]:
#from sklearn import tree
#clf = tree.DecisionTreeRegressor(max_depth=7)
#clf = clf.fit(X, y)
#predictions=clf.predict(df_test)


from sklearn.neural_network import MLPRegressor

 
clf= MLPRegressor(random_state=1, max_iter=500)

clf=clf.fit(X, y)
predictions=clf.predict(df_test)

In [44]:

print(len(predictions))  # Check the length of predictions

3490

In [45]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": predictions})

In [46]:
print(df_predictions)

        ID  prediction
0        0    3.590321
1        1    5.620174
2        2    1.235098
3        3    2.154192
4        4    3.283540
...    ...         ...
3485  3485   -4.624449
3486  3486    2.055346
3487  3487    8.305015
3488  3488    4.964215
3489  3489    4.657434

[3490 rows x 2 columns]

In [47]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('PredictTudoGrupos.csv', index=False)