In [23]:
import warnings
warnings.filterwarnings("ignore")

In [24]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [25]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [26]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [27]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [28]:
d = pd.read_csv("Acenario2Coluna_0_20.csv")

In [29]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_body_type', 'id_categoria_marca', 'ano', 'mileage',
       'id_max_power_group', 'id_transmissao', 'id_modelos',
       'resale_price_Lakh'],
      dtype='object')

In [30]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [31]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [32]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       id_body_type  id_categoria_marca     ano  mileage  id_max_power_group  \
0          0.364112            0.073531  2019.0    23.84            0.206644
1          0.598869            0.073531  2018.0    17.50            0.206644
2          0.578053            0.073531  2015.0    17.40            0.446040
3          0.598869            0.073531  2021.0    14.08            0.446040
4          0.364112            0.073531  2019.0    21.40            0.206644
...             ...                 ...     ...      ...                 ...
13420      1.347597            0.903640  2021.0    14.11            0.446040
13421      0.364112            0.073531  2017.0    18.60            0.206644
13422      0.578053            0.903640  2017.0    21.13            0.446040
13423      0.598869            0.073531  2017.0    24.30            0.206644
13424      0.578053            0.073531  2015.0    18.00            0.206644

       id_transmissao  id_modelos
0            0.131359    3.086522
1            0.131359    2.403638
2            0.131359    2.583846
3            0.583102    3.650793
4            0.583102    2.747703
...               ...         ...
13420        0.583102    3.650793
13421        0.131359    2.951823
13422        0.131359    3.282816
13423        0.131359    2.747703
13424        0.131359    2.428944

[13425 rows x 7 columns]
Data type by column:
id_body_type          float64
id_categoria_marca    float64
ano                   float64
mileage               float64
id_max_power_group    float64
id_transmissao        float64
id_modelos            float64
dtype: object

In [33]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("testcenario2_0_20.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [34]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      id_body_type  id_categoria_marca     ano  mileage  id_max_power_group  \
0         0.364112            0.073531  2017.0    18.90            0.206644
1         0.364112            0.073531  2020.0    21.21            0.206644
2         0.364112            0.073531  2010.0    18.20            0.206644
3         0.364112            0.073531  2010.0    19.70            0.206644
4         0.364112            0.073531  2018.0    17.19            0.206644
...            ...                 ...     ...      ...                 ...
3485      0.578053            0.073531  2022.0     0.00            0.206644
3486      0.364112            0.073531  2017.0    23.01            0.206644
3487      0.578053            0.073531  2017.0    17.80            0.446040
3488      0.364112            0.073531  2016.0    18.70            0.206644
3489      0.364112            0.073531  2017.0    22.38            0.206644

      id_transmissao  id_modelos
0           0.131359    2.872642
1           0.583102    3.224824
2           0.131359    3.428944
3           0.131359    2.420344
4           0.131359    3.826884
...              ...         ...
3485        0.583102    3.428944
3486        0.131359    2.650793
3487        0.131359    2.729974
3488        0.131359    2.872642
3489        0.131359    1.840113

[3490 rows x 7 columns]
Data type by column:
id_body_type          float64
id_categoria_marca    float64
ano                   float64
mileage               float64
id_max_power_group    float64
id_transmissao        float64
id_modelos            float64
dtype: object

In [35]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_body_type          0
id_categoria_marca    0
ano                   0
mileage               0
id_max_power_group    0
id_transmissao        0
id_modelos            0
dtype: int64

In [36]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_body_type          0
id_categoria_marca    0
ano                   0
mileage               0
id_max_power_group    0
id_transmissao        0
id_modelos            0
dtype: int64

In [37]:
# Check data types
print(y.dtypes)

float64

In [38]:
# Check data types
print(X.dtypes)

id_body_type          float64
id_categoria_marca    float64
ano                   float64
mileage               float64
id_max_power_group    float64
id_transmissao        float64
id_modelos            float64
dtype: object

In [39]:
# Check data types
print(df_test.dtypes)

id_body_type          float64
id_categoria_marca    float64
ano                   float64
mileage               float64
id_max_power_group    float64
id_transmissao        float64
id_modelos            float64
dtype: object

In [48]:
from sklearn import tree
clf = tree.DecisionTreeRegressor(max_depth=10)
clf = clf.fit(X, y)
predictions=clf.predict(df_test)

In [49]:
predictions

array([5.054     , 6.75524272, 1.87934335, ..., 7.51384615, 5.71076159,
       5.24772727])

In [41]:

print(len(predictions))  # Check the length of predictions

3490

In [42]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": predictions})

In [43]:
print(df_predictions)

        ID  prediction
0        0    7.310202
1        1    7.310202
2        2    7.310202
3        3    7.310202
4        4    7.310202
...    ...         ...
3485  3485    7.310202
3486  3486    7.310202
3487  3487    7.310202
3488  3488    7.310202
3489  3489    7.310202

[3490 rows x 2 columns]

In [44]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('treeCenario2_0_20max.csv', index=False)