# Importar os módulos necessários

In [62]:
import warnings
warnings.filterwarnings("ignore")

In [63]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

# Definir as Métricas para Avaliação dos Modelos

In [64]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [65]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.metrics import make_scorer
import numpy as np

# Definição da função RMSE
def root_mean_squared_error(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

# Dicionário de métricas de regressão
REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score),
    "RMSE": make_scorer(root_mean_squared_error)  # Adicionando o RMSE
}

# Ler o Conjunto de Dados

In [66]:
d = pd.read_csv("Cenario2.csv")
d

,id_body_type,id_modelos,id_categoria_marca,ano,id_city,id_insurance,id_transmissao,seats,mileage,id_engine_capacity_group,id_fuel_type,id_kms_group,id_max_power_group,id_owner_type,resale_price_Lakh
0,0.364112,3.086522,0.073531,2019.0,1.096102,0.256633,0.131359,5.0,23.84,0.126137,0.180334,0.364786,0.206644,0.150465,5.66
1,0.598869,2.403638,0.073531,2018.0,1.281577,1.306401,0.131359,5.0,17.50,0.126137,0.180334,0.364786,0.206644,1.365236,6.64
2,0.578053,2.583846,0.073531,2015.0,0.922710,0.256633,0.131359,5.0,17.40,0.126137,0.180334,0.255059,0.446040,0.620328,5.65
3,0.598869,3.650793,0.073531,2021.0,0.922710,0.256633,0.583102,7.0,14.08,0.126137,0.514919,0.364786,0.446040,0.150465,23.00
4,0.364112,2.747703,0.073531,2019.0,1.170307,1.306401,0.583102,5.0,21.40,0.126137,0.180334,0.255059,0.206644,0.150465,6.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13420,1.347597,3.650793,0.903640,2021.0,1.027199,0.256633,0.583102,7.0,14.11,1.105074,0.514919,0.255059,0.446040,0.620328,26.50
13421,0.364112,2.951823,0.073531,2017.0,1.223199,0.256633,0.131359,5.0,18.60,0.126137,0.180334,0.364786,0.206644,0.150465,5.87
13422,0.578053,3.282816,0.903640,2017.0,1.027199,0.445408,0.131359,5.0,21.13,0.126137,0.514919,0.255059,0.446040,0.620328,7.43
13423,0.598869,2.747703,0.073531,2017.0,0.868320,0.445408,0.131359,5.0,24.30,0.126137,0.514919,0.364786,0.206644,0.620328,9.45
13424,0.578053,2.428944,0.073531,2015.0,0.868320,0.445408,0.131359,5.0,18.00,0.126137,0.180334,0.364786,0.206644,0.150465,4.55

In [67]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

# Definir o Método de Validação Cruzada

In [68]:
#Classificação
splitter = StratifiedKFold(n_splits=10, shuffle=True, random_state=1234)

# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

# Implementação dos Algoritmos de Machine Learning

### Árvores de Decisão

In [69]:
from sklearn.model_selection import KFold, cross_validate
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score



# Definir o regressor e o método de validação cruzada
dt_regressor = DecisionTreeRegressor(max_depth=7, random_state=1234)
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

# Realizar a validação cruzada e avaliar as métricas
scores = cross_validate(dt_regressor, X, y, cv=kf, scoring=REGRESSION_METRICS)
dt_scores = {k: v.mean() for k, v in scores.items()}  # Negar os valores para tornar os scores positivos
pd.DataFrame(dt_scores, index=[0])

   fit_time  score_time   test_MSE  test_MAE   test_R2  test_RMSE
0  0.036706     0.00491  15.148211  1.789795  0.828103   3.824384

### Redes Neuronais

In [70]:
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import cross_validate

# Criar uma Rede Neural para regressão
nn_regressor = MLPRegressor(hidden_layer_sizes=(50, 50), max_iter=20, random_state=1234)

# Realizar a validação cruzada e avaliar as métricas
scores_nn = cross_validate(nn_regressor, X, y, cv=kf, scoring=REGRESSION_METRICS)
nn_scores = pd.DataFrame(scores_nn)
pd.DataFrame(nn_scores.mean()).T

   fit_time  score_time   test_MSE  test_MAE   test_R2  test_RMSE
0  2.309655    0.004758  63.917326  4.079562  0.268305   7.925298

### Naive Bayes

In [71]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_validate
from sklearn.metrics import make_scorer, mean_squared_error, mean_absolute_error



# Criar um regressor RandomForest
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=1234)

# Realizar a validação cruzada e avaliar as métricas
scores_rf = cross_validate(rf_regressor, X, y, cv=kf, scoring=REGRESSION_METRICS)
rf_scores = pd.DataFrame(scores_rf)
pd.DataFrame(rf_scores.mean()).T

    fit_time  score_time  test_MSE  test_MAE   test_R2  test_RMSE
0  10.906399    0.060406  8.311664  1.086739  0.906801   2.821624

Random Forest

In [72]:
from sklearn.datasets import make_regression
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

# Gerar dados de exemplo
X, y = make_regression(n_features=4, n_informative=2, random_state=0, shuffle=False)

# Criar um regressor de floresta aleatória
rf_regressor = RandomForestRegressor(max_depth=10, random_state=0)



# Realizar a validação cruzada e avaliar as métricas
scores_rf = cross_validate(rf_regressor, X, y, cv=5, scoring=REGRESSION_METRICS)
rf_scores = pd.DataFrame(scores_rf)
print(pd.DataFrame(rf_scores.mean()).T)

   fit_time  score_time   test_MSE  test_MAE   test_R2  test_RMSE
0  0.175024    0.007438  96.022625  7.399889  0.933136   9.583758

### Support Vector Machine