In [25]:
import warnings
warnings.filterwarnings("ignore")

In [26]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [27]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [28]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [29]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [30]:
d = pd.read_csv("Cenario5.csv")

In [31]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_transmissao', 'id_body_type', 'id_modelos', 'id_categoria_marca',
       'mileage', 'ano', 'id_city', 'id_insurance', 'seats', 'engine_capacity',
       'id_fuel_type', 'kms_driven', 'max_power', 'id_owner_type',
       'resale_price_Lakh'],
      dtype='object')

In [32]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [33]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [34]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

       id_transmissao  id_body_type  id_modelos  id_categoria_marca   mileage  \
0            0.130634      0.363138    0.406643            0.269535  23.84000
1            0.130634      0.600263    0.406643            0.269535  17.50000
2            0.130634      0.577680    0.406643            0.269535  17.40000
3            0.585160      0.600263    1.770756            0.269535  14.08000
4            0.585160      0.363138    0.406643            0.514641  21.40000
...               ...           ...         ...                 ...       ...
13503        0.585160      1.350274    1.391019            0.984773  19.49405
13504        0.130634      0.363138    0.406643            0.269535  19.49405
13505        0.130634      0.577680    0.406643            0.984773  19.49405
13506        0.130634      0.600263    0.406643            0.514641  19.49405
13507        0.130634      0.577680    0.387552            0.269535  19.49405

          ano   id_city  id_insurance  seats  engine_capacity  id_fuel_type  \
0      2019.0  1.095161      0.256167    5.0           1199.0      0.180811
1      2018.0  1.280558      1.309078    5.0           1199.0      0.180811
2      2015.0  0.923765      0.256167    5.0           1497.0      0.180811
3      2021.0  0.923765      0.256167    7.0           1956.0      0.514536
4      2019.0  1.170596      1.309078    5.0           1197.0      0.180811
...       ...       ...           ...    ...              ...           ...
13503  2021.0  1.027129      0.256167    7.0           2199.0      0.514536
13504  2017.0  1.222106      0.256167    5.0           1197.0      0.180811
13505  2017.0  1.027129      0.446914    5.0           1498.0      0.514536
13506  2017.0  0.868615      0.446914    5.0           1248.0      0.514536
13507  2015.0  0.868615      0.446914    5.0           1198.0      0.180811

       kms_driven  max_power  id_owner_type
0         30910.0       83.8       0.151316
1         48089.0       88.7       1.355345
2         51000.0      117.3       0.619644
3         30000.0      167.6       0.151316
4         61113.0       83.1       0.151316
...           ...        ...            ...
13503     80000.0      197.2       0.619644
13504     17923.0       81.8       0.151316
13505     63389.0      108.6       0.619644
13506     40000.0       88.5       0.619644
13507     33046.0       86.7       0.151316

[13508 rows x 14 columns]
Data type by column:
id_transmissao        float64
id_body_type          float64
id_modelos            float64
id_categoria_marca    float64
mileage               float64
ano                   float64
id_city               float64
id_insurance          float64
seats                 float64
engine_capacity       float64
id_fuel_type          float64
kms_driven            float64
max_power             float64
id_owner_type         float64
dtype: object

In [35]:
from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("TestCenario5.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['ID']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('ID', axis=1, inplace=True)

In [36]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

      id_transmissao  id_body_type  id_modelos  id_categoria_marca    mileage  \
0           0.130634      0.363138    0.387552            0.269535  18.900000
1           0.585160      0.363138    0.406643            0.514641  21.210000
2           0.130634      0.363138    0.387552            0.514641  18.200000
3           0.130634      0.363138    0.387552            0.514641  19.700000
4           0.130634      0.363138    0.406643            0.269535  17.190000
...              ...           ...         ...                 ...        ...
3485        0.585160      0.577680    1.037169            0.269535  19.520446
3486        0.130634      0.363138    0.387552            0.269535  19.520446
3487        0.130634      0.577680    0.406643            0.269535  19.520446
3488        0.130634      0.363138    0.406643            0.269535  19.520446
3489        0.130634      0.363138    0.387552            0.514641  19.520446

         ano   id_city  id_insurance  seats  engine_capacity  id_fuel_type  \
0     2017.0  0.923765      0.446914    5.0       1197.00000      0.180811
1     2020.0  1.280558      1.414588    5.0       1197.00000      0.180811
2     2010.0  1.594033      0.256167    5.0        998.00000      0.180811
3     2010.0  0.768863      0.256167    5.0        796.00000      0.180811
4     2018.0  0.768863      0.446914    5.0       1197.00000      0.180811
...      ...       ...           ...    ...              ...           ...
3485  2022.0  1.095161      0.256167    5.0       1422.99627      2.458493
3486  2017.0  0.868615      0.256167    5.0        999.00000      0.180811
3487  2017.0  0.768863      0.446914    5.0       1497.00000      0.180811
3488  2016.0  0.923765      0.446914    5.0       1199.00000      0.180811
3489  2017.0  0.768863      0.446914    5.0       1197.00000      0.180811

      kms_driven  max_power  id_owner_type
0        53658.0       81.8       0.151316
1        33055.0       81.8       0.619644
2        90385.0       67.1       1.355345
3       110000.0       46.3       0.151316
4        58000.0       81.8       0.619644
...          ...        ...            ...
3485     30000.0       73.7       0.151316
3486     64024.0       67.0       0.151316
3487     39000.0      117.3       0.151316
3488     33000.0       88.7       0.151316
3489     14097.0       88.5       0.619644

[3490 rows x 14 columns]
Data type by column:
id_transmissao        float64
id_body_type          float64
id_modelos            float64
id_categoria_marca    float64
mileage               float64
ano                   float64
id_city               float64
id_insurance          float64
seats                 float64
engine_capacity       float64
id_fuel_type          float64
kms_driven            float64
max_power             float64
id_owner_type         float64
dtype: object

In [37]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_transmissao        0
id_body_type          0
id_modelos            0
id_categoria_marca    0
mileage               0
ano                   0
id_city               0
id_insurance          0
seats                 0
engine_capacity       0
id_fuel_type          0
kms_driven            0
max_power             0
id_owner_type         0
dtype: int64

In [38]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_transmissao        0
id_body_type          0
id_modelos            0
id_categoria_marca    0
mileage               0
ano                   0
id_city               0
id_insurance          0
seats                 0
engine_capacity       0
id_fuel_type          0
kms_driven            0
max_power             0
id_owner_type         0
dtype: int64

In [39]:
# Check data types
print(y.dtypes)

float64

In [40]:
# Check data types
print(X.dtypes)

id_transmissao        float64
id_body_type          float64
id_modelos            float64
id_categoria_marca    float64
mileage               float64
ano                   float64
id_city               float64
id_insurance          float64
seats                 float64
engine_capacity       float64
id_fuel_type          float64
kms_driven            float64
max_power             float64
id_owner_type         float64
dtype: object

In [41]:
# Check data types
print(df_test.dtypes)

id_transmissao        float64
id_body_type          float64
id_modelos            float64
id_categoria_marca    float64
mileage               float64
ano                   float64
id_city               float64
id_insurance          float64
seats                 float64
engine_capacity       float64
id_fuel_type          float64
kms_driven            float64
max_power             float64
id_owner_type         float64
dtype: object

In [42]:
#from sklearn import tree
#clf = tree.DecisionTreeRegressor()
#clf = clf.fit(X, y)
#predictions=clf.predict(df_test)

In [43]:
#from sklearn.neural_network import MLPRegressor

 
#clf= MLPRegressor(random_state=1, max_iter=500)

#clf=clf.fit(X, y)
#predictions=clf.predict(df_test)

In [44]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor

#Dividir os dados em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir o modelo inicial
clf = DecisionTreeRegressor(max_depth=10)

# Ajustar o modelo inicial nos dados de treinamento
clf.fit(X_train, y_train)

# Prever com o modelo inicial
predictions = clf.predict(df_test)

# Definir o grid de hiperparâmetros
param_grid = {
    'max_depth': [5, 7, 10],
   'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Realizar a busca dos melhores hiperparâmetros
grid_search = GridSearchCV(DecisionTreeRegressor(), param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# Obter os melhores parâmetros e o melhor estimador
best_params = grid_search.best_params_
best_estimator = grid_search.best_estimator_

# Usar o melhor estimador para fazer previsões nos dados de teste
best_predictions = best_estimator.predict(df_test)

In [45]:

print(len(best_predictions))  # Check the length of predictions

3490

In [46]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"ID": id_series, "prediction": best_predictions})

In [47]:
print(df_predictions)

        ID  prediction
0        0    4.928683
1        1    6.687419
2        2    1.653704
3        3    1.625135
4        4    6.187318
...    ...         ...
3485  3485   12.301667
3486  3486    3.445055
3487  3487    7.082333
3488  3488    5.737278
3489  3489    4.928683

[3490 rows x 2 columns]

In [48]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('PredictsCenario5.csv', index=False)