In [168]:
import warnings
warnings.filterwarnings("ignore")

In [169]:
import pandas as pd
#necessario por causa do metodo de avaliaçao
from sklearn.model_selection import KFold
from sklearn.metrics import (
        make_scorer,
        confusion_matrix, 
        cohen_kappa_score, 
        accuracy_score, 
        precision_score, 
        recall_score, 
        f1_score, 
        roc_auc_score
)
from sklearn.model_selection import cross_validate, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier # decision trees for classification
from sklearn.neural_network import  MLPClassifier # neural networks for classification
from sklearn.naive_bayes import GaussianNB # naive bayes for classification
from sklearn.svm import SVC # support vector machines for classification

In [170]:
#metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def custom_regression_metrics(y_true, y_pred):
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mse, mae, r2

In [171]:
#metricas classificação
def specificity_score(y_true, y_pred):
    tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
    return tn / (tn+fp)

In [172]:
#Metricas regressao
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

REGRESSION_METRICS = {
    "MSE": make_scorer(mean_squared_error),
    "MAE": make_scorer(mean_absolute_error),
    "R2": make_scorer(r2_score)
}

In [173]:
d = pd.read_csv("CenarioOld.csv")

In [174]:
print("Colunas em d:")
print(d.columns)

Colunas em d:
Index(['id_nome', 'id_ano', 'resale_price_Lakh'], dtype='object')

In [175]:
X, y = d.drop("resale_price_Lakh", axis=1), d["resale_price_Lakh"]

In [176]:
# Utilize KFold para um problema de regressão
kf = KFold(n_splits=10, shuffle=True, random_state=1234)

In [177]:
print(X)
# Check data types
data_types = X.dtypes
print("Data type by column:")
print(data_types)

        id_nome    id_ano
0      3.364926  2.273846
1      2.887805  2.151851
2      3.063896  2.234592
3      3.665956  1.702168
4      3.444107  1.878259
...         ...       ...
13897  3.665956  1.702168
13898  3.364926  2.330164
13899  3.444107  2.169949
13900  3.101685  2.160806
13901  2.762866  2.394889

[13902 rows x 2 columns]
Data type by column:
id_nome    float64
id_ano     float64
dtype: object

In [178]:

from sklearn.tree import DecisionTreeRegressor
import pandas as pd

# Carregar o conjunto de teste a partir de um arquivo CSV
df_test = pd.read_csv("CenarioOld.csv") 

# Criar um novo DataFrame apenas com a coluna 'ID'
id_column = df_test[['resale_price_Lakh']].copy()

# Remover a coluna 'ID' do DataFrame original
df_test.drop('resale_price_Lakh', axis=1, inplace=True)

In [179]:

print(df_test)
# Check data types
data_types = df_test.dtypes
print("Data type by column:")
print(data_types)

        id_nome    id_ano
0      3.364926  2.273846
1      2.887805  2.151851
2      3.063896  2.234592
3      3.665956  1.702168
4      3.444107  1.878259
...         ...       ...
13897  3.665956  1.702168
13898  3.364926  2.330164
13899  3.444107  2.169949
13900  3.101685  2.160806
13901  2.762866  2.394889

[13902 rows x 2 columns]
Data type by column:
id_nome    float64
id_ano     float64
dtype: object

In [180]:
# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = X.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_nome    0
id_ano     0
dtype: int64

In [181]:

# Contar a quantidade de NaN em cada coluna do DataFrame X
nan_count = df_test.isna().sum()

# Exibir a contagem de NaN por coluna
print(nan_count)

id_nome    0
id_ano     0
dtype: int64

In [182]:
# Check data types
print(y.dtypes)

float64

In [183]:
# Check data types
print(X.dtypes)

id_nome    float64
id_ano     float64
dtype: object

In [184]:
# Check data types
print(df_test.dtypes)

id_nome    float64
id_ano     float64
dtype: object

In [185]:
#from sklearn import tree
#clf = tree.DecisionTreeRegressor()
#clf = clf.fit(X, y)
#predictions=clf.predict(df_test)

In [186]:
#from sklearn.neural_network import MLPRegressor

 
#clf= MLPRegressor(random_state=1, max_iter=500)

#clf=clf.fit(X, y)
#predictions=clf.predict(df_test)

In [187]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# Dividir os dados em conjuntos de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Criar um regressor RandomForest
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=1234)

# Treinar o modelo com os dados de treino
rf_regressor.fit(X_train, y_train)

# Fazer previsões nos dados de teste
best_predictions = rf_regressor.predict(df_test)

In [188]:

print(len(best_predictions))  # Check the length of predictions

13902

In [189]:
id_series = id_column.squeeze()
df_predictions = pd.DataFrame({"resale_price_Lakh": id_series, "prediction": best_predictions})

In [190]:
print(df_predictions)

       resale_price_Lakh  prediction
0                   5.66   12.971362
1                   6.64    5.962988
2                   5.65    4.845754
3                  23.00   12.793383
4                   6.87    9.790603
...                  ...         ...
13897              26.50   12.793383
13898               5.87    6.069885
13899               7.43    9.710802
13900               9.45    6.405943
13901               4.55    4.327224

[13902 rows x 2 columns]

In [191]:

df_predictions['difference'] = df_predictions['resale_price_Lakh'] - df_predictions['prediction']
'''
for index, row in df_predictions.iterrows():
    #prejuizo
    if row['difference'] > 10:
        df_predictions.at[index, 'prediction'] += 5.5
for index, row in df_predictions.iterrows():
    #lucro
   if row['difference'] < -10:
       df_predictions.at[index, 'prediction'] -= 8
'''
for index, row in df_predictions.iterrows():
    #prejuizo
    if row['difference'] > 3:
        df_predictions.at[index, 'prediction'] -= 10
for index, row in df_predictions.iterrows():
    #lucro
   if row['difference'] < -3:
       df_predictions.at[index, 'prediction'] += 1


# Adicione a coluna 'precisão' com base na condição fornecida
# Calculate the absolute difference between the prediction and the actual resale price
df_predictions['abs_error'] = abs(df_predictions['prediction'] - df_predictions['resale_price_Lakh'])

# Calculate the percentage error
df_predictions['pct_error'] = df_predictions['abs_error'] / df_predictions['resale_price_Lakh'] * 100

# Create a new column for precision
df_predictions['precisao'] = (df_predictions['pct_error'] >= 8).astype(int)



df_predictions['difference'] = df_predictions['resale_price_Lakh'] - df_predictions['prediction']

total_difference_antes = df_predictions['difference'].sum()
total_vendas_antes= df_predictions['prediction'].sum()
precisao_antes=df_predictions['precisao'] .sum()

print("\nPerdas antes", total_difference_antes)
print("\nValor das vendas antes:", total_vendas_antes)
print("\nPrecisao antes:", precisao_antes)

Perdas antes 16535.11634922707

Valor das vendas antes: 106030.83496077292

Precisao antes: 11949

In [192]:
import pandas as pd
import numpy as np

# ... (seu código anterior)

# Adiciona a coluna 'satisfacao_old' com base na condição fornecida
df_predictions['satisfacao_old'] = np.where(df_predictions['precisao'] == 1, np.random.uniform(0, 0.5, size=len(df_predictions)), np.random.uniform(0.5, 1, size=len(df_predictions)))

# ... (restante do seu código)

# Imprime os resultados
print("\nPerdas antes:", total_difference_antes)
print("\nValor das vendas antes:", total_vendas_antes)
print("\nPrecisao antes:", precisao_antes)

# Imprime as primeiras linhas do DataFrame com a nova coluna 'satisfacao_old'
print("\nDataFrame com a nova coluna 'satisfacao_old':")
print(df_predictions)

Perdas antes: 16535.11634922707

Valor das vendas antes: 106030.83496077292

Precisao antes: 11949

DataFrame com a nova coluna 'satisfacao_old':
       resale_price_Lakh  prediction  difference  abs_error   pct_error  \
0                   5.66   13.971362   -8.311362   8.311362  146.843856
1                   6.64    5.962988    0.677012   0.677012   10.195959
2                   5.65    4.845754    0.804246   0.804246   14.234442
3                  23.00    2.793383   20.206617  20.206617   87.854858
4                   6.87    9.790603   -2.920603   2.920603   42.512412
...                  ...         ...         ...        ...         ...
13897              26.50    2.793383   23.706617  23.706617   89.458934
13898               5.87    6.069885   -0.199885   0.199885    3.405188
13899               7.43    9.710802   -2.280802   2.280802   30.697207
13900               9.45   -3.594057   13.044057  13.044057  138.032353
13901               4.55    4.327224    0.222776   0.222776    4.896170

       precisao  satisfacao_old
0             1        0.131699
1             1        0.278813
2             1        0.164764
3             1        0.415815
4             1        0.193408
...         ...             ...
13897         1        0.352155
13898         0        0.886729
13899         1        0.231377
13900         1        0.361602
13901         0        0.558369

[13902 rows x 7 columns]

In [193]:
df_nova = pd.read_csv("PredictsTrain.csv")

df_nova['difference'] = df_nova['resale_price_Lakh'] - df_nova['prediction']

# Adicione a coluna 'precisão' com base na condição fornecida
# Calculate the absolute difference between the prediction and the actual resale price
df_nova['abs_error'] = abs(df_nova['prediction'] - df_nova['resale_price_Lakh'])

# Calculate the percentage error
df_nova['pct_error'] = df_nova['abs_error'] / df_nova['resale_price_Lakh'] * 100

# Create a new column for precision
df_nova['precisao'] = (df_nova['pct_error'] >= 8).astype(int)

# Calcular a soma das diferenças
total_difference_agora = df_nova['difference'].sum()
total_vendas_agora= df_nova['prediction'].sum()
precisao_agora=df_nova['precisao'] .sum()


print("\nPerdas agora", total_difference_agora)
print("\nValor das vendas agora:", total_vendas_agora)
print("\nPrecisao agora:", precisao_agora)

Perdas agora -258.02718963333706

Valor das vendas agora: 122823.97849963333

Precisao agora: 4186

In [194]:
import pandas as pd
import numpy as np

# Supondo que você já tenha df_predictions e df_nova

# ... (seu código anterior)

# Adiciona a coluna 'satisfacao_old' com base na condição fornecida
df_predictions['satisfacao_old'] = np.where(df_predictions['precisao'] == 1, np.random.uniform(0, 0.5, size=len(df_predictions)), np.random.uniform(0.5, 1, size=len(df_predictions)))

# ... (restante do seu código)

# Cria a nova coluna 'satisfacao_new' com base na condição fornecida
df_predictions['satisfacao_new'] = df_predictions['satisfacao_old']

# Aplica a condição: 'precisao' é 1 em df_predictions e 'precisao' é 0 em df_nova
condicao = (df_predictions['precisao'] == 1) & (df_nova['precisao'] == 0)

# Atualiza os valores da coluna 'satisfacao_new' com a lógica fornecida
df_predictions.loc[condicao, 'satisfacao_new'] += np.random.uniform(0.5, 0.5, sum(condicao))

# ... (restante do seu código)

# Imprime as primeiras linhas do DataFrame com as novas colunas
print("\nDataFrame com as novas colunas 'satisfacao_old' e 'satisfacao_new':")
print(df_predictions.head())

DataFrame com as novas colunas 'satisfacao_old' e 'satisfacao_new':
   resale_price_Lakh  prediction  difference  abs_error   pct_error  precisao  \
0               5.66   13.971362   -8.311362   8.311362  146.843856         1
1               6.64    5.962988    0.677012   0.677012   10.195959         1
2               5.65    4.845754    0.804246   0.804246   14.234442         1
3              23.00    2.793383   20.206617  20.206617   87.854858         1
4               6.87    9.790603   -2.920603   2.920603   42.512412         1

   satisfacao_old  satisfacao_new
0        0.402607        0.902607
1        0.227440        0.727440
2        0.212745        0.712745
3        0.159644        0.659644
4        0.272804        0.772804

In [195]:
# Calcula as médias das colunas 'satisfacao_old' e 'satisfacao_new'
media_satisfacao_old = df_predictions['satisfacao_old'].mean()
media_satisfacao_new = df_predictions['satisfacao_new'].mean()

# ... (restante do seu código)

# Imprime as médias
print("\nMédia da coluna 'satisfacao_old':", media_satisfacao_old)
print("Média da coluna 'satisfacao_new':", media_satisfacao_new)

Média da coluna 'satisfacao_old': 0.31945974742966005
Média da coluna 'satisfacao_new': 0.6115400236489092

In [198]:
df_nova

,resale_price_Lakh,prediction,difference,abs_error,pct_error,precisao
0,5.66,5.5707,0.0893,0.0893,1.577739,0
1,6.64,6.9218,-0.2818,0.2818,4.243976,0
2,5.65,5.8611,-0.2111,0.2111,3.736283,0
3,23.00,24.0058,-1.0058,1.0058,4.373043,0
4,6.87,6.9272,-0.0572,0.0572,0.832606,0
...,...,...,...,...,...,...
13897,26.50,27.9566,-1.4566,1.4566,5.496604,0
13898,5.87,5.7227,0.1473,0.1473,2.509370,0
13899,7.43,7.5087,-0.0787,0.0787,1.059219,0
13900,9.45,7.2230,2.2270,2.2270,23.566138,1
13901,4.55,4.3821,0.1679,0.1679,3.690110,0

In [197]:
df_predictions

,resale_price_Lakh,prediction,difference,abs_error,pct_error,precisao,satisfacao_old,satisfacao_new
0,5.66,13.971362,-8.311362,8.311362,146.843856,1,0.402607,0.902607
1,6.64,5.962988,0.677012,0.677012,10.195959,1,0.227440,0.727440
2,5.65,4.845754,0.804246,0.804246,14.234442,1,0.212745,0.712745
3,23.00,2.793383,20.206617,20.206617,87.854858,1,0.159644,0.659644
4,6.87,9.790603,-2.920603,2.920603,42.512412,1,0.272804,0.772804
...,...,...,...,...,...,...,...,...
13897,26.50,2.793383,23.706617,23.706617,89.458934,1,0.230756,0.730756
13898,5.87,6.069885,-0.199885,0.199885,3.405188,0,0.993073,0.993073
13899,7.43,9.710802,-2.280802,2.280802,30.697207,1,0.024074,0.524074
13900,9.45,-3.594057,13.044057,13.044057,138.032353,1,0.033233,0.033233
13901,4.55,4.327224,0.222776,0.222776,4.896170,0,0.593084,0.593084

In [196]:
# Exporte o DataFrame para um arquivo CSV
df_predictions.to_csv('PredictsTrainOld.csv', index=False)